<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<h1>Ordini</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", order %>
    </p>
  <% end %>
</div>

<%= link_to "Nuovo Ordine", new_order_path %>
