<div id="<%= dom_id table %>" class="container my-5">
  <div class="p-3 border rounded shadow-sm bg-light">
    <p class="mb-2">
      <strong>Numero:</strong> <%= table.numero %>
    </p>

    <p class="mb-2">
      <strong>Posti:</strong> <%= table.posti %>
    </p>
  </div>
</div>
