<% content_for :title, "Editing Food" %>

<div class="container my-5">
  <h1 class="text-center">Modifica Tavolo</h1>

  <%= render "form", table: @table %>

  <div class="mt-3 text-center">
    <%= link_to "Mostra", @table, class: "btn btn-outline-primary" %>
    <%= link_to "Indietro", tables_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
