<% content_for :title, "Editing food" %>

<h1>Crea Tavolo</h1>

<%= render "form", table: @table %>

<br>

<div>
  <%= link_to "Mostra", @table, class:"btn btn-dark" %>
  <%= link_to "Indietro", tables_path, class:"btn btn-dark" %>
</div>
