<% content_for :title, "New table" %>

<div class="my-5">
  <h1>Nuovo Tavolo</h1>

  <%= render "form", table: @table %>
  <div class="mt-2">
    <%= link_to "Indietro", tables_path, :class => "btn btn-secondary" %>
  </div>
</div>

