<div class="row align-items-md-stretch mt-5">
  <div class="col-12">
    <div class="h-300 p-5 text-bg-dark rounded-3">
      <h3><%= @table.numero %> | N°:  <%= @table.posti %></h3>

      <div class="pt-5">
        <%= link_to "Modifica", edit_table_path(@table), :class => "btn btn-secondary" %>
        <%= link_to "Indietro", tables_path, :class => "btn btn-secondary" %>
      </div>

    </div>
  </div>
</div>