<div id="<%= dom_id food %>" class="container my-3">
  <div class="card shadow-sm border-0 rounded-3">
    <div class="card-body">
      <table class="table table-light table-striped rounded">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Categoria</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= food.nome %></td>
          <td><%= food.categoria %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
