<div id="<%= dom_id food %>">
  <p>
    <strong>Nome:</strong>
    <%= food.nome %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= food.categoria %>
  </p>

  <p>
    <strong>Quantità:</strong>
    <%= food.quantita %>
  </p>

</div>
