<% content_for :title, "Editing food" %>

<div class="container my-5">
  <h1>Modifica Ingrediente</h1>

  <%= render "form", food: @food %>

  <div class="mt-3">
    <%= link_to "Mostra", @food, class: "btn btn-outline-dark" %>
    <%= link_to "Indietro", foods_path, class: "btn btn-outline-dark" %>
  </div>
</div>