<div id="<%= dom_id course %>">
  <div class="my-3">
    <h2> Nome: </h2>
    <h5> <%= course.nome %> </h5>
  </div>



  <h3>Ingredienti</h3>
  <div id="foods">
    <% course.foods.each do |food| %>
      <%= render partial: "foods/course_food", locals: { food: food } %>
    <% end %>
  </div>
</div>