<% content_for :title, "Editing course" %>

<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Mostra Portata", @course, :class=> "btn btn-secondary" %> |
  <%= link_to "Indietro", courses_path, :class=> "btn btn-secondary my-2" %>
</div>
