<% content_for :title, "Nuova Portata" %>

<div class="container mt-5">
  <div class="card shadow-sm border-0 rounded-3 p-4">
    <h1 class="mb-4 display-4 text-primary text-center">Crea una Nuova Portata</h1>
    <%= render "form", course: @course %>
    <div class="text-center mt-4">
      <%= link_to "Indietro", courses_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
